.app__container {
  height: 100%;
  display: grid;
  grid-template-rows: max-content;
}

.playground {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: auto 100%;
  grid-template-areas:
    "cl cs"
    "cl cal";
  background-color: #F4F4F4;
  gap: 1rem;
  padding: 1.25rem;
}

.courses-list {
  grid-area: cl;
}

.course-selection-manager {
  grid-area: cs;
}

.calendar {
  grid-area: cal;
  margin-left: 1rem;
}

/* @media (min-width: 3800px) {
  .playground {
    grid-template-columns: 6fr 6fr 10fr;
  }
} */
@media (max-width: 1289px) {
  .playground {
    grid-template-columns: 5fr 7fr;
  }
}

@media (max-width: 856px) {
  .playground {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "cl"
      "cs"
      "cal";
  }
}