.courses-list {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    /* margin-top: 1rem; */
}

.courses-forms-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    position: relative;
}