.calendar{
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 1rem;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    --hour-height:48px;
    --hour-width:96px;
}
.week__header{
    display: grid;
    grid-template-columns: 4rem repeat(7,1fr);
}
.day__name{
    font-size: 0.75rem;
    text-align: center;
    padding-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1;
}
.hours__area{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25rem;
}

.hours-namespace__column{
    display: grid;
    width: fit-content;
    height: 100%;
    grid-auto-rows: 1fr;
    position: relative;
    /* grid-template-rows: repeat(19, 2rem); */
}

.week__area{
    display: grid;
    grid-template-columns: 1fr 0px;
}