.calendar{
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 0.75rem;
    --hour-height:48px;
    --hour-width:96px;
}
.week{
    display: grid;
    grid-template-columns: repeat(7,var(--hour-width));
    height: fit-content;
}
.week__header{
    display: grid;
    grid-template-columns: 4rem repeat(7,var(--hour-width));
}
.day__name{
    font-size: 0.75rem;
    text-align: center;
    padding-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1;
}
.day__content{
    position: relative;
}
.hours__area{
    display: grid;
    grid-template-columns: 4rem 1fr;
}
.day__hours,
.hours__namespace{
    display: grid;
    grid-auto-rows: var(--hour-height);
    position: relative;
    /* grid-template-rows: repeat(19, 2rem); */
}
.hours__namespace{
    /* align-items: center; */
    text-align: end;
    font-size: 0.75rem;
    font-weight: 700;
    padding-right: 0.25rem;
    /* margin-top: calc(0.75rem + 0.5rem ); */
    position: relative;
}
.hour__time{
    line-height: 1;
    /* top: -50%; */
    position: relative;
}

.day__classes{
    z-index: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: var(--hour-height);
    grid-template-rows: repeat(18, var(--hour-height));
    position: absolute;
    bottom: 0;
}
.week__area{
    display: grid;
    grid-template-columns: 1fr 0px;
}
.week__controls{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
}
.add-hour {
    position: relative;
}
.add-hour---begin{
    top: -0.5rem;
}
.add-hour---end{
    margin-top: auto;
    bottom: -0.5rem;
}