.calendar{
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 1rem;
    width: calc(100% - 1rem);
    height: fit-content;
    padding: 1rem;
    
    container-type: inline-size;
    container-name: calendar;
    position: relative;
}
.calendar__grid{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25rem;
    position: relative;
}

.calendar__grid--fixed{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: inherit;
  top: 0;
  left: 0;
}


.week__container{
    position: relative;
}
.week__area{
    display: grid;
    grid-template-areas: 1fr/ 1fr 0px;
    position: relative;
}

@container calendar (max-width: 475px) {

  .day__name,
  .hours-namespace__column {
    font-size: 0.65rem;
  }
}

@container calendar (max-width: 420px) {
  .day__name,
  .hours-namespace__column {
    font-size: 0.6rem;
  }

  .calendar__grid {
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .week {
    width: 600px;
  }
}

/* @container calendar (max-width: 330px) {
  .day__name,
  .hours-namespace__column {
    font-size: 0.4rem;
  }
} */