.course-selection-manager {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: fit-content;

  container-type: inline-size;
  container-name: course-selection-manager;
}

.course-options {
  /* width: 100%; */
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0.5rem;
}

.course-option {
  /* width: 100%; */
  height: 4rem;
  container-type: size;
  padding: 0;
}

.course-option .active-box {
  border-radius: 4px;
  /* border: 1px dashed rgb(40, 40, 40); */
  box-shadow: inset -1px 1px 3px 0px #ffffff8d,
    inset -3px 3px 3px 0px #ffffff70,
    inset 0px -0px 1px 0px #241d079b,
    inset 2px -2px 3px 0px #ffd7525d,
    inset 0px 0px 0px 4px #e5ce1e,
    inset 0px 0px 4px 4px black,
    0px 0px 3px 0px black;
  height: calc(100cqh - 8px);
  width: calc(100cqw - 8px);
  position: absolute;
  top: 4px;
  left: 4px;
  container-type: size;
}

.course-option .active-box::after {
  content: '';
  border-radius: 4px;
  /* border: 1px dashed rgb(40, 40, 40); */
  box-shadow: inset -1px 1px 3px 0px #ffffff8d,
    inset -3px 3px 3px 0px #ffffff70,
    inset 0px -0px 1px 0px #241d079b,
    inset 2px -2px 3px 0px #ffd7525d,
    inset 0px 0px 0px 2px #e5ce1e,
    inset 0px 0px 4px 4px black,
    0px 0px 3px 0px black;
  height: calc(100cqh + 16px);
  width: calc(100cqw + 16px);
  position: absolute;
  top: -8px;
  left: -8px;
}

.course-option-name {
  margin: 0.25rem;
  font-size: 10cqi;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@container course-selection-manager (max-width: 200px) {

  .course-options {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 100%;
    gap: 0.5rem;
  }
}