.hour__class {
    --hour-row-start: 1;
    --hour-row-length: 1;
    grid-row-start: var(--hour-row-start);
    grid-row-end: span var(--hour-row-length);
    aspect-ratio: 2/calc(var(--hour-row-length));
    z-index: 2;

    background: none;
    border-bottom: 0;
    border-right: 0;
    box-sizing: border-box;
}