.header {
  width: 100%;
  background-color: #FF578C;
  /* margin-bottom: 0.5rem; */
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  width: 30rem;
  max-width: 100%;
}

.header .form-input {
  border: 1px solid #FF578C;
  background: #eb5182;
  color: white;
  font-size: large;
  font-weight: 600;
  text-align: center;
}
.header .form-input:active,
.header .form-input:focus{
    background: #ee628e;
    outline: none;
}
.header .form-input::placeholder{
  color: #e7e7e7;
}


/* Media query para pantallas medianas/chicas */
@media (max-width: 768px) {
  .header {
    flex-direction: flex;
    align-items: stretch;
    gap: 0.5rem;
  }

  .title {
    order: -1; /* Mover el título al principio visualmente */
    width: 100%;
    margin-bottom: 0.5rem;
  }
}