.course-card{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0.25rem;
    padding: 0.5rem;
    padding-left: 0.25rem;
    background-color: white;
    border: 1px solid #ececec;
    box-shadow: 0px 0.5rem 1rem -0.5rem #ececec;
    border-radius: 4px;
}
.course-controls{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.course-color-input {
    width: 2rem;
}
.course-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.25rem;
    gap: 0.5rem;
}
.form-input{
    border: 1px solid #ececec;
    background-color: 1px solid #f7f7f7;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    width: 16rem;
    height: 1.5rem;
}