.hour__container{
    position: relative;
    width: 100%;
    height: 100%;
}
.hour--space{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    border: 2px dashed rgb(205, 205, 205);
    border-bottom: 0;
    border-right: 0;
    box-sizing: border-box;
}
.hour--class{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    margin: 1px;
    /* color: hsl(0, 52%, 31%); */
    background: hsl(var(--hour-bg-hue),  var(--hour-bg-saturation), var(--hour-bg-lightness));
    background: linear-gradient(-10deg,
        hsl(var(--hour-bg-hue), 5%, 45%) -50%,
        hsl(var(--hour-bg-hue), 40%, 48%) 10%,
        /* hsl(var(--hour-bg-hue), var(--hour-bg-saturation), var(--hour-bg-lightness)) 25%, */
        hsl(var(--hour-bg-hue), var(--hour-bg-saturation), var(--hour-bg-lightness)) 80%,
        hsl(var(--hour-bg-hue), 50%, 85%) 110%
    );
}