.hour__container{
    position: relative;
    width: 100%;
    height: 100%;
}
.day__column:last-child .day__hours .hour__space{
    border-right: 2px dashed rgb(205, 205, 205);
}
.day__hours .hour__space:last-child{
    border-bottom: 2px dashed rgb(205, 205, 205);
}
.hour__space{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: none;
    /* background-color: transparent; */
    /* background-color: rgb(250, 250, 250); */
    border: 2px dashed rgb(205, 205, 205);
    border-bottom: 0;
    border-right: 0;
    box-sizing: border-box;
}
.hour__space--class{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    /* border: 2px dashed rgba(0, 0, 0, 0.1); */
    border-bottom: 0;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 5px;
}
.hour__class{
    --hour-row-start: 1;
    --hour-row-length: 1;
    box-sizing: border-box;
    position: relative;
    border: none;
    width: 100%;
    grid-row-start: var(--hour-row-start);
    grid-row-end: span var(--hour-row-length);
    /* height: calc((100% + 2px) * var(--hour-row-length) - 2px );
    margin-bottom: calc(100% * var(--hour-row-length) - 100% ); */

    z-index: 2;
    border-radius: 4px;
    /* color: #ffffff; */
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    font-weight: 600;
    font-size: 0.75rem;
}